body {
   background-image: url();
}

.full-page>.content {
   padding-top: 0;
   padding-bottom: 0;
}

.card-header>h4.text-login {
   font-size: 28px;
   font-weight: bold;
   color: #ECECEC;
   text-align: center;
   /* color for text in now-ui-dashboard.css*/
}

.invalid-feedback {
   color: red;
   border-radius: 10px;
   margin: 10px 0;
   font-style: italic;
   z-index: 100;
}

.cards {
   background-color: rgba(182, 182, 182, 40%);
   border-radius: 10px;
}

.bg-input-login {
   border-radius: 10px;
   background-color: #F6B800;
   font-weight: 500;
}

.btn-login {
   background-color: rgba(31, 26, 23, 80%);
   color: #F8C100;
   font-weight: bold;
   padding: 12px 42px;
}